<% @event_material_links.each do |material_link| %>
	<div id="link-<%= material_link.id %>">
	  <%= link_to '[X] Delete', material_link_path(material_link), confirm: 'Are you sure?', method: :delete, remote: true %>
	  <%= format_text_for_display(material_link.reference_link) %> <%= format_text_for_display(material_link.description) %>
	</div>
<% end %>
