<% @event_material_links.each do |material_link| %>
	<div id="link-<%= material_link.id %>">
	  <%= format_text_for_display(material_link.reference_link) %> <%= format_text_for_display(material_link.description) %>
	</div>
<% end %>


