# local environment files
.bundle
.rvmrc
.ruby-version
.ruby-gemset
/.ruby-gemset
/.ruby-version
.tm_properties
.powenv
.powrc
db/*.sqlite3
# logs
log/*.log
log/*.lck
# cache and tmps
tmp/
.sass-cache/
# configuration
config/database.yml
config/settings.local.yml
config/sunspot.yml
# solr
solr/data
solr/pids
# uploads
public/uploads
# added by capatross generate_config
/config/capatross.local.yml

# added by capatross generate_config
/capatross_logs

*.sql
