

<div id="comment-list" class="extracted_comments">
<%= nested_comments @comment.subtree.arrange(:order => 'created_at DESC'), @comment %>
</div>

<h4>Posted to <%= link_to(@comment.event.title, @comment.event) %></h4>


<script class="code" type="text/javascript">
  $('.submittable').live('change',
  function() {
    $(this).parents('form:first').submit();
  });

</script>
