<div class="span8 offset1">
  <div class="addthis-wrapper pull-right">
    <%= render(:partial => 'events/addthis') %>
  </div>
  <br class="clearing">

  <h1><%= @list_title %></h1>

  <%= render :partial => 'learner_list' %>
</div>
