@import "_variables";
.event-audience {font-size:14px; color:#888; margin:1em 0 1em;}

.event-learners {padding:20px; background:#eee; clear:left; margin-top:0;}
.event-learners h3 {font-size:.9em; color:#888; text-transform:uppercase; }
.event-learner-list {width:100%;margin:0; padding:0;float:left;}
.event-learner-list li {float:left; list-style:none;}
.event-learner-list li a {float:left; margin-right:.6em; margin-bottom:.6em;}
.event-learner-list li img {width:36px; height:36px; margin:0;}

.event-main {margin-bottom:3em;}
.event-cover-image img {width: 100%;}


.calendarblock {width:64px; display:block; text-align:center; height:64px;padding-top:0; float:right; background:#fff; border:2px solid #bbb;}
.calendarblock.multi-day {width:96px;}
.calendarblock .month {display:block; height:20px; line-height:25px;font-size:.7em; text-transform:uppercase; font-weight:bold;}
.calendarblock .date {display:block; height:40px; line-height:43px;font-weight:bold; font-size:1.8em;}
.calendarblock .date.multi-day {display:block; height:50px; line-height:30px;font-weight:bold; font-size:1.7em; }
.multi-day-hyphen {padding: 0 3px;}

.event-time {background:#eee; padding:20px; position:relative; margin-bottom:16px;
/*  border:4px solid #999;*/
color:#555;
  }
.session-time {
/*  font-size:1.2em; */
  padding:10px 0; font-weight:normal; font-size:16px;}
.session-date {font-weight:normal; font-size:16px;}
.session-duration {font-weight:normal; font-size:16px; /*color:#222;*/}


.event-connections {padding:20px; background:#fff; background:#eee; margin-bottom:16px;}
.event-connections p span {position:relative;}
.event-connections p:hover small {display:block;color:#fff; font-size:.9em; margin:.25em 0;}
.event-connections p small {display:none; position:absolute; left:1em; top:-50%;color:#fff; background:#3e83eb; border:3px solid #fff; padding:1em; width:150px; @include boxshadow; @include rounded10; z-index:150;}
.event-connections.placeholder {margin:2em 0;}



.participation-connection p {margin:0;}
.event-connection-summary {font-weight:bold;}

input[type="text"].edit-event-title {font-size:1.5em; height:auto; }
.edit-form {background:#eee; padding:2em;}

span.related_events {padding-left:24px; display:block;}
span.related_events i {margin-left:-20px;}
.related-upcoming {font-size:10pt; color:#666;}


.event-title {font-size:30px;}
.event-section-header {font-size:21px; margin-bottom:2px; color:#666; font-weight:normal;}
.event-sections {
/*  padding:.5em 1em;*/
  margin-bottom:2em; font-size:14px;}
.event-presenters {margin-bottom:1em;}
.event-tags {margin:1em 0 1em;}
.event-materials {}
.event-colophon {background:#f5f5f5; padding:.5em 1em;}
.notification-prefs {font-size:14px;}
.upcoming-events-single {margin-bottom:50px;}
/*.event-description {margin-bottom:20px; border-bottom:2px solid #ccc; padding-bottom:10px;}*/
.location-section {font-size:14px; margin-bottom:20px; background:#eee; padding:8px;}
.location-section p {margin-bottom:0;}

.signup-option img {margin-right:10px;}

.event-list {margin-top:2em;}
.event-list-event {margin-bottom:2em;}
.event-list-title {font-size:18px; margin-bottom:.25em;}
.event-list-details {font-size:15px; margin-bottom:0;}
.event-list-description {font-size:13px !important; line-height:18px; margin-bottom:1em;}

.upcoming-events-single img,
.event-description img {max-width:100%;}

.recent-event-age {font-size:13px;}

.prompt-section {
  // border: 1px solid red;
   margin-bottom:30px;}
.prompt-section p {padding-left: 30px; color: #888;}
.hosting-prompt h1 {font-size: 30px; line-height:36px; margin-bottom:1em; color: #333;}
.hosting-prompt h2 {font-size: 27px; line-height:36px; padding: 0; margin:0 0 10px;
  // margin-bottom:1em;
  color: #666;
  // border-bottom:2px solid #888;
}
.hosting-prompt h3 {font-size: 24px; line-height:36px; margin-bottom:.5em; color: #f47B28; line-height:27px;}
.ex-webinar-option img {width: 240px; padding: 10px;}
.hosting-prompt p {font-size: 21px; line-height:27px;}

.alternate-options {font-size:14px; margin-bottom: 40px;}
.alternate-options h3 {font-size: 21px; margin-bottom:10px; color: #f47B28;}
.alternate-options p {font-size: 17px; line-height: 21px;}
.alternate-options li {font-size: 17px;}

.ex-webinar-option {margin: 0 0 40px;}

.ex-webinar-option, .alternate-options {background: #eee; padding: 4px 20px 20px;}

.venue-info {margin:20px 0;
  border:2px solid #78C8FF; padding:20px;
  background: #D5EEFF;
}
.venue-info fieldset {margin-bottom:10px;}
.venue-info label {font-size:18px}

#mfln_event_additions {margin:20px 0;
  border:2px solid #78C8FF; padding:20px;
  background: #D5EEFF;
}

#mfln_event_additions fieldset {margin-bottom:10px;}
#mfln_event_additions label {font-size:18px}

#datetime p {padding-top:20px; }
#event_session_length {font-size: 36px; height:100%; padding: 2px 10px; width: 3em;}

@media (max-width: 480px) {
.event-title {font-size:21px;}
}
.addthis-wrapper {margin-bottom:10px; min-height:25px;}

.learner_list {width:100%;margin:0 0 1em; padding:0;float:left;}
.learner_list img {height:40px; width:40px; margin:0;}
.learner_list li {float:left; list-style:none;}
.learner_list li a {float:left; margin-right:.6em;}


.signin-header {margin-top:20px;}

.top-level-number {font-size:50px; font-weight:normal; line-height:50px; display:block; text-align:center; font-family: 'Oswald', 'Droid+Sans', sans-serif;}
.top-level-type {font-size: 21px; display:block; text-align:center;}
.event-stats {margin: 10px 0; background: #f5f5f5; padding:20px 0 10px;}
.event-stat {border:1px solid #bbb; padding: 20px 10px; background: #fff; margin-bottom:10px;}
.participant-breakdown {border-top: 2px solid #ddd; padding-top: 10px; color: #777; margin: 20px auto 0; width: 15em; text-align:center;}
.participant-breakdown p {margin:0;}
.non-extension-webinar {padding: 12px 20px; background: #f5f5f5; color: #888;}
.non-extension-webinar p {margin:0; padding:0; font-size:14px; }
.data-footnote {padding: 0 20px 0; font-size:13px; clear:both; margin:0; color:#999; line-height: 1.2em; text-align:center;}
.data-footnote-asterisk {
  font-size: 16px;
  // outline: 1px solid red;
  font-weight:normal;
  line-height: 0;
  vertical-align: baseline;
    position: relative;
    top: -.15em;
    left: -.18em;
    color: #bbb;
  }
.behind-title {
  // text-transform: uppercase;
  letter-spacing:1px; font-weight:300; font-family: 'Oswald', 'Droid+Sans', sans-serif; color:#888; font-size: 30px;}
.column {
    -webkit-columns: 100px 5; /* Chrome, Safari, Opera */
    -moz-columns: 100px 5; /* Firefox */
    columns: 100px 5;
}
