// Place all the styles related to the widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.widget-container {background:#fff; padding:10px; width:220px;}
.learn_widget_specific_title {line-height: 24px; font-size:21px;}
textarea.widget-code {padding:.5em;font-family:monospace;font-size:14px;color:#0d027e;line-height:1.2em;overflow:auto;height:4em; width:90%}
