<%= render(partial: 'navtabs') -%>
<h2>Session Evaluation for <%= link_to @conference.name, conference_path(id: @conference.hashtag) %></h2>
<%- if !@event_counts.blank? -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Events</th>
      <th>Evaluators</th>
    </tr>
  </thead>
  <tbody>
    <%- @event_counts.keys.sort.each do |event| -%>
    <tr>
      <td><%= link_to event.title, evaluationresults_event_path(event) %></td>
      <td><%= @event_counts[event] %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
<%- else -%>
<div class="noevents">
<h3>No evaluation results for any events at this conference</h3>
</div>
<%- end -%>

