<h3>Attendees</h3>
<%- if conference.attendees.count > 0 -%>
  <ul id="conference_connector_list">
    <%- conference.attendees.uniq.shuffle.each do |attendee| %>
      <li><%= link_to_learner_avatar(attendee, {image_size: :thumb}) -%></li>
    <%- end -%>
  </ul>
<%- else -%>
<p>No attendees listed yet for this conference.</p>
<%- end -%>
<br class="clearing" />
