<%= form_tag(makeconnection_conference_path(@conference), {remote: true}) do -%>
  <%= hidden_field_tag('connectiontype', ConferenceConnection::ATTEND) %>
  <p>
    <label>
    <%= check_box_tag('wantsconnection','1',current_learner.attending_conference?(@conference),{class: 'submittable'}) %> 
    <span>I'm Attending This Conference</span>
    </label>
    
  </p>
<%- end -%>

<br class="clearing" />