
<aside id="conference_connections" class="radius10">
<%- if conference.presenters.count > 0 -%>
  
    <h3>Presenters</h3>

    <ul id="conference_connector_list">
      <%- conference.presenters.each do |presenter| %>
        <li><%= link_to_learner_avatar(presenter, {image_size: :thumb}) -%></li>
      <%- end -%>
    </ul>
    
<%- end -%>

  <br class="clearing" />
</aside>