<%- if @conference.errors.any? -%>
  <div id="error_messages">
    <h3>Please fix the following items and submit again</h3>
  <ul>
  <%- @conference.errors.full_messages.each do |msg| -%>
    <li><%= msg %></li>
  <%- end -%>
  </ul>
  </div>
<%- end -%>

<div id="editform">
  <h1>Edit this conference</h1>
  <%= form_for @conference do |form| -%>
     <%= render(partial: 'conference_form', locals: {conference_form: form}) %>
  <%- end -%>
</div>