<div class="row">
  <div class="col-md-offset-1 col-md-10">
		<div class="page-header">
			<h1>Page Removed</h1>
		</div>
		<p>The requested page has been removed from our server. Please visit the <%= link_to "homepage", root_path %> to find other Learn events.</p>

	</div>
</div>
