<div class="span8">
  <h1>Contact us</h1>

<!-- Ask an Expert widget -->
<script type="text/javascript">
  (function() {
    function async_load(){
      var aae = document.createElement('script'); aae.type = 'text/javascript'; aae.async = true;
      aae.src = "https://ask.extension.org/groups/1278/ask_widget.js";
      var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(aae, s);
    }
    if (window.attachEvent)
      window.attachEvent('onload', async_load);
    else
      window.addEventListener('load', async_load, false);
  })();
</script>
<div id="aae-1278"></div>
<!-- End Ask an Expert widget -->




  <h3>Want to know more about eXtension?</h3>
  <p>Visit <a href="http://about.extension.org">About eXtension</a>.  There you'll find links to various eXtension resources where you can learn more about the benefits of eXtension, discover how to get involved with your colleagues already participating,  or get started with the eXtension sites and services.</p>
</div>
