<% @page_title = 'Contact Us' %>

<div class="col-md-8">

  <h2>Contact Us</h2>




    <h3>Have a question about this application?</h3>
<p>We'd love to help! Email us a bug report at <a href="mailto:contact-us@extension.org">contact-us@extension.org</a></p>

<p>A great bug/issue report includes:
  <ul>
    <li>What you wanted to do. (As much specific detail as possible!)</li>
    <li>What you expected to happen.</li>
    <li>What actually happened</li>
    <li>Uploading a screen capture of any error messages, or the browser window you see is fantastic!</li>
  </ul>
</p>

  <h3>Want to know more about eXtension?</h3>
  <p>Visit <a href="https://www.extension.org/">extension.org</a>.  There you'll find links to various eXtension resources where you can learn more about the benefits of eXtension, discover how to get involved with your colleagues already participating,  or get started with the eXtension sites and services.</p>

</div>
