<div id="narrow_single_col">
  
  <h1>Contact us</h1>
  
  <h2><%= link_to("Ask a Question about Learn", "https://ask.extension.org/groups/1278/ask", :class => "btn btn-primary btn-orange btn-large") %></h2>  
  
  <h3>Want to know more about eXtension?</h3>
  <p>Visit <a href="http://about.extension.org">About eXtension</a>.  There you'll find links to various eXtension resources where you can learn more about the benefits of eXtension, discover how to get involved with your colleagues already participating,  or get started with the eXtension sites and services.</p>
</div>