<div id="single_col">
  <div class="exid">
    <h1>Creating and editing events is currently limited to eXtension accounts</h1>
    <h2>You are signed in with a Google, Facebook or Twitter account. If you have an eXtension account, please sign out and then sign back in with it. If you don't have one, but are associated with the U.S. Cooperative Extension system, you are eligible to <%= link_to("sign up for one", "https://www.extension.org/people/") %>.</h2>
    <p>Not eligible for an eXtension account? Still want to present an event? <%= link_to("Please let us know", contact_us_path) %> and we might be able to help.</p>
  </div>
    <br class="clearing" />
</div>