<div class="col-md-8 col-md-offset-1">
  <div class="hosting-prompt">
    <h1>Before you create a new event...have you booked your webinar room or event hosting location?</h1>
    <p>Learn doesn't providing hosting for the webinars, conferences and meetings which are listed on it, so the location needs to be scheduled before creating a new event.</p>

    <h2>Book a Hosting Option</h2>
    <div class="col-md-6">
      <div class="ex-webinar-option">
        <h3>eXtension Hosting</h3>
        <p>eXtension offers a large-capacity <strong>Zoom</strong> webinar room, which can host up to 500 participants, and it available for our <a href="https://extension.org/membership/extension-member-institutions-for-2016/">member Institutions</a>.</p>
        <p><a href="https://extension.org/zoom/">Learn more about Zoom</a> or <a href="https://extension.org/zoom/">reserve a time slot</a>.</p>
        <p><%= image_tag("zoom-logo.png", :class => '', :title => '') %></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="alternate-options">
        <h3>Third-party Hosting</h3>
        <p>You are welcome to use any hosting platform you like. Other hosting options available from your institution might include platforms like Adobe Connect, Google Hangouts, Ustream or Webex. These services will all provide a connection URL which you'll use for the hosting location.</p>
      </div>
    </div>

    <div class="col-md-12">
      <h2>Have you booked your webinar room?</h2>
      <p><%= link_to "Yes, I'm ready to create an event", new_event_path(), :class => "btn btn-lg btn-primary" %></p>
  </div>
  </div>

</div>
