<div class="col-md-8 col-md-offset-1">
  <div class="hosting-prompt">
    <h1>Before you create a new event...have you scheduled your hosting location?</h1>
    <p>Learn doesn't providing hosting for the webinars, conferences and meetings which are listed on it, so the location needs to be scheduled before creating a new event.</p>

    <h2>Hosting Options</h2>
    <div class="ex-webinar-option">
      <h3>eXtension Zoom Webinar Hosting</h3>
      <p>eXtension offers a large-capacity Zoom webinar room, which can host up to 500 participants, and it available for our member Institutions. To reserve a time slot, please contact Mark Locklear.</p>
      <p><%= image_tag("zoom-logo.png", :class => '', :title => '') %></p>
    </div>

  <div class="alternate-options">
    <h3>non-eXtension Hosting</h3>
    <p>You are welcome to use any hosting platform you like. Other hosting options include platforms like Adobe Connect, Google Hangouts, Ustream or Webex. These services will all provide a connection URL which you'll use to for the hosting location.</p>
  </div>

  <p><%= link_to "I have scheduled a host location and am ready to add my event", new_event_path(), :class => "btn btn-lg btn-primary" %></p>
  </div>

</div>

<div class="col-md-6">

</div>
