<div id="single_col">
  <div id="event_status">
    <h1>Your account has been retired.</h1>
    <h2>You can <%= link_to("contact us", contact_us_url) %> if you would like to reactivate it.</h2>
  </div>
  
    <br class="clearing" />
</div>