<div class="col-md-8 col-md-offset-1">
  <div class="hosting-prompt">
    <div class="signin-prompt">
      <h1>Do I need to sign in to attend Learn events?</h1>
      <p>No, Learn events do not require signing in with an eXtension Account. However, individual events may require registration.</p>
    </div>

    <div class="signin-prompt">
      <h1>eXtension Account Holders</h1>
      <p>If you have an eXtension Account (which requires affilitation with Cooperative Extension), signing in will allow you to:</p>
      <ul>
        <li>Create new Learn events</li>
        <li>Mark events you attended, watched or are interested in</li>
        <li>Get text/email notifications for events</li>
      </ul>
      <p><%= link_to "Sign in", '/auth/people', :class => "btn btn-primary" %></p>
    </div>
  </div>


</div>
