<%- attendee_count = @event.attendees.count -%>
<%- if current_learner and attendee_count > 0 -%>
    <h4 id="slidetoggle"><%= attendee_count %> attendees <small>view</small></h4>
    <ul id="attendee_list">
      <%- @event.attendees.each do |attendee| %>
        <li><%= link_to_learner(attendee) -%></li>
      <%- end -%>
    </ul>
<%- end -%>

<script class="code" type="text/javascript">
  $('#attendee_list').hide();

  $('#slidetoggle').click(function() {
    $('#attendee_list').slideToggle('fast','linear');
  });
</script>