<section id="comments">
  
  <% if current_learner %>
    <h5>Add your thoughts...</h5>
    <div id="new-comments-form">
      <%= render partial: 'comments/new_comments_form' %>
    </div>
  <% end %>
  
  <div id="comments-list">
    <%= render :partial => 'comments/comments_list', :locals => {:comment_list => @event_comments, :parent_comment => nil} %>
  </div>
  
</section>
