<section id="comments">
  
  <% if current_learner %>
    <h5>Add your thoughts...</h5>
    <div id="new-comments-form">
      <%= render partial: 'comments/new_comments_form' %>
    </div>
  <% end %>
  
  <div id="comments-list">
    <%= render :partial => 'comments/comments_list', :locals => {:comment_list => @event_comments, :parent_comment => nil} %>
  </div>
  
</section>

<script type="text/javascript">
  $(document).ready(function(){
    $('#new-comments-form .wysihtml5').wysihtml5({image: false});
    var highlightedComment = window.location.hash;
    $(highlightedComment).addClass("cc-highlight");
    
    $(".comment-timestamp").click(function() {
      $(".cc-comment").removeClass("cc-highlight");
      $(this).closest(".cc-comment").addClass("cc-highlight");
    });
  })
</script>