<%- learner_count = @event.learners.count -%>

<aside id="event_learners" class="radius10">
<%- if learner_count > 0 -%>
  
    <h3>Connections</h3>

    <ul id="event_learner_list">
      <%- @event.learners.each do |attendee| %>
        <li><%= get_avatar(attendee, :thumb, :link_it) -%></li>
      <%- end -%>
    </ul>
    
<%- end -%>

  <p class="smalltext"><%= link_to "Connections include attended, bookmarked and watched", details_event_path(@event.id) %></p>
  <br class="clearing" />
</aside>