<%- learner_count = @event.learners.valid.count -%>

<aside id="event_learners" class="radius10">
<%- if learner_count > 0 -%>
  
    <h3>Connections</h3>

    <ul id="event_learner_list">
      <%- @event.learners.valid.each do |attendee| %>
        <li><%= link_to_learner_avatar(attendee, {image_size: :thumb, event_types: ['attended', 'bookmarked', 'watched']})  -%></li>
      <%- end -%>
    </ul>
    
<%- end -%>

  <p class="smalltext"><%= link_to "Connections include attended, followed and watched", backstage_event_path(@event.id) %></p>
  <br class="clearing" />
</aside>