<p class="nojs_display">Sign in to vote</p>
<div class="sitv_element_wrapper">
  <div class="sitv_targetarea"></div>
  <div class="sitv_content" style="display:none;">
    <p>Please sign in</p>
    <p><%= link_to("Sign in", new_learner_session_path(:redirect_to => request.fullpath), :class => "btn btn-default btn-lg" )%></p>
  </div>

<%-
"Note:
- a closing .sitv_element_wrapper DIV must be added in view
- must add .sitv_element class to the element (or element's parent) that requires authentication"
-%>
