$( "<p id='tag_<%= escape_javascript(@tag.id.to_s) %>'><span class='tag tag-topic'><%= escape_javascript(link_to @tag.name, events_tag_path(@tag.name)) %></span> <span class='removetag'>x</span></p>" ).prependTo( "#tag_list" );
$("#needs_tags").remove();
$( "#tag_list" ).scrollTop( 0 );
