
<h1>Delete this Event <%= link_to "Cancel", event_path(@event.id), :class => "btn btn-default" %></h1>

<div class="bekind">
  <h3>The event page displays a 404, and an email is sent to people who followed the event.</h3>
</div>

<div class="alert alert-warning"><h4><strong>Note:</strong> If this event needs to be recovered, please contact an eXtension staff member for help.</h4></div>


<%= form_tag delete_event_event_path(@event.id) do %>
  <p>
    <label for="close_out_question">Reason for deleting this event</label>
    <%= text_field_tag :reason_is_deleted, "", class: 'form-control' %>
  </p>
  
  <p>
    <%= submit_tag 'Close Question', :class => "btn btn-primary"%>
  </p>
<% end %>