<%- if @event.errors.any? -%>
  <div id="error_messages">
    <h3>Please fix the following items and submit again</h3>
  <ul>
  <%- @event.errors.full_messages.each do |msg| -%>
    <li><%= msg %></li>
  <%- end -%>
  </ul>
  </div>
<%- end -%>

<div id="editform">
  <h1>Edit this event</h1>
  <%= form_for @event, :html => {:multipart => true} do |form| -%>
    <%- if @event.conference -%>
      <%= render(partial: 'conference_event_form', locals: {event_form: form}) %>
    <%- else -%>
      <%= render(partial: 'online_event_form', locals: {event_form: form}) %>
    <%- end -%>
  <%- end -%>
</div>


<script type="text/javascript">
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5('deepExtend', {
        image: false,
        parserRules: { tags: { p: {} } }
      });
    });

  })
</script>


