<% @page_title = @event.title + " - " +  @event.session_start.strftime("%b %e, %Y") + ' - Evaluation'%>

<div>
  <h1>Event Evaluation for: <small><%= link_to @event.title + " (" +  @event.session_start.strftime("%b %e, %Y") + ")", conference_event_path(@event, conference_id: @event.conference.hashtag) %></small></h1>

  <%- @event.evaluation_questions.each do |evalquestion| -%>
    <%= render(partial: 'evalquestion', locals: {evalquestion: evalquestion, event: @event}) %>
  <%- end -%>

  <p><%= link_to("I'm Done", conference_event_path(@event, conference_id: @event.conference.hashtag), class: 'btn btn-default btn-primary') %></p>
</div>

<script class="code" type="text/javascript">
  $('.submittable').live('change',
    function() {
      $(this).parents('form:first').submit();
    }
  );
</script>
