

<%- if @event.errors.any? -%>
  <ul>
    <%- @event.errors.full_messages.each do |msg| -%>
      <li><%= msg %></li>
    <%- end -%>
  </ul>
<%- end -%>

<div id="editform">
  <h1>Create an event</h1>
  <%= form_for @event,  :html => { :class => "form-stacked"} do |form| %>
    <%= render(partial: 'event_form', locals: {event_form: form}) %>
  <% end %>
</div>


<div id="sidebar">
  <h3>Event FAQs</h3>
  <h3>Who can create an event?</h3>
  <p>TODO: it would be nice to have some copy here, otherwise point to a create page</p>
  
  <h3>How are events scheduled?</h3>
  <p>TODO: it would be nice to have some copy here, otherwise point to a create page</p>
</div>