<nav id="settings_nav">
  <ul>
    <li><%= link_to_unless_current 'Profile', settings_profile_path %></li>
    <li><%= link_to_unless_current 'Notifications', settings_notifications_path %></li>
    <li><%= link_to_unless_current 'Learning Profile', settings_learning_profile_path %></li>
    <li><%= link_to_unless_current 'Sharing', settings_privacy_path %></li>
  </ul>
</nav>