<style type="text/css" media="screen">
  .learn_widget {background: #eee; padding:.25em 1em; color: #444;}
</style>
<div class="learn_widget">
	<p>This widget has been deprecated. Please visit <a href="https://learn.extension.org/widgets">learn.extension.org/widgets</a> to create an updated version.</p>
</div>
