
<h2>Learn Widgets</h2>
<h4>The widget markup contains css hooks to make it easier to hide or display different sections including:</h4>
<ul>
  <li>.learn_widget_generic_title</li>
  <li>.learn_widget_specific_title</li>
  <li>.learn_widget_no_matches</li>
  <li>.learn_widget_see_more</li>
</ul>

<h3>The widget:</h3>
<div class="well well-large">
  <%= render(:partial => 'widgets/event_list') %>
</div>