<%= render(partial: 'navtabs') -%>
<h2>Projected Recommendations</h2>
<p>(not yet sent, subject to change until sent)</p>
<%- if @event_list.blank? -%>
<p> No recommended events currently </p>
<%- else -%>
<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Date</th>
			<th>Recommended learners</th>
		</tr>
	</thead>
	<tbody>
		<%- @event_list.each do |event,learner_list| -%>
		<tr>
			<td><%= link_to(event.title, data_recommended_event_path(event_id: event.id)) %></td>
			<td><%= event.session_start.strftime("%B %e") %></td>
			<%- if learner_list.blank? -%>
				<td>None at this time.</td>
			<%- else -%>
				<td><%= learner_list.keys.collect{|learner| learner.name}.join(', ') %></td>
			<%- end -%>
		</tr>
		<%- end -%>
	</tbody>
</table>
<%- end -%>
