// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin boxshadow {
//    border:1px solid #ddd;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.6);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.6);
}

@mixin rounded10 {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}


#comments h5 {color:#555;}
#commentfield_container, .comment_reply {margin:0 0 1em; padding-bottom:.5em;}
#commentfield_container form,
.comment_reply form {width:100%; padding:10px;}
#commentfield_container .btn,
.comment_reply .btn {float:right; margin-right:-1em;}
#commentfield {float:left; width:250px;}
#commentfield_container textarea,
.comment_reply textarea {
    width:100%;
    margin:0 0 .5em 0;
    padding:.5em;
    color:#000;
}
.comment_reply {@include rounded10;background: #eee; @include boxshadow; margin-top:1em;}
.comment {padding: 1em;margin-bottom:0;position:relative;}
.comment:hover {background:#eee;}

.comment .avatar {width:40px;height:40px; border:1px solid #fff;}
.comment_time, .comment_author {display:block; font-size:.9em; color:#000;}
.comment_time a {color:#999;}
.comment_author {font-weight:bold;}
.comment p {font-size:11.5px;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;color:#444;text-align:left; margin-bottom:0; padding:0;}
.comment .removed {padding:.5em 1em; background:#ededed; display:block; margin:.5em 0; color:#666; font-size:.85em;}

.nested_comments .comment {margin-left: 30px;}
.nested_comments .nested_comments .comment {margin-left: 60px;}
.nested_comments .nested_comments .nested_comments .comment {margin-left: 60px;}


//comment edit actions
.comment p.actions {border:none; margin:0; position:relative;}
.comment p.actions span.comment_actions {display:block; clear:both; margin-left:70px; float:right; position:absolute; right:0;}
.comment p.actions span.comment_actions a {display:none; padding:.5em .75em; color:#333; float:left;}
.comment:hover p.actions span.comment_actions a {display:block;}


//individual comment view
#extracted_comments {clear:both; padding:2em;}
#extracted_comments .comment p {font-size:1.3em;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;color:#444;text-align:left; margin-bottom:0; padding:0;}
#extracted_comments .comment p a {font-size:.7em; display:none; background:#444; padding:.1em .35em; color:#fff;}
#extracted_comments .comment p span.comment_actions {display:block; clear:both; margin-left:70px; height:1em; float:right;}
#extracted_comments .comment:hover p span.comment_actions a {display:inline;}
#extracted_comments .comment:hover {background:#eee;}

