@import "_variables";

#conference_connections {background:#fff; clear:left; margin-top:0; padding-top:0;}
#conference_connections h3 {font-size:.9em; color:#888; text-transform:uppercase; }
#conference_connector_list {width:100%;margin:0; padding:0;float:left;}
#conference_connector_list li {float:left; list-style:none;}
#conference_connector_list li a {float:left; margin-right:.6em;}
#conference_connector_list li img {width:36px; height:36px; margin:0;}

#twitter_sidebar {background:none; @include rounded10; padding:.5em 2em 0; margin:auto;}

#session_id {float:right;}
#session_id span {font-size: 24px; line-height: 40px;}

#conference_banner {text-align:center;}
#conference_banner span {font-size: 18px; line-height: 40px;}