// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables";

#event {background: #eee; padding:18px; @include rounded10; position:relative;}
#questions {background: #fff; padding:18px;}
#event_meta {background: #f5f5f5; padding:18px; @include rounded10; margin-top:1em; color:#888; clear:both;}
#event_time {border: 4px solid #aaa; clear:both;  @include rounded10; position:relative;}
.tags {margin: 0; clear:both; padding:0}
#event_meta a {color:#888;}

#event_learners {background:#fff; clear:left; margin-top:0; padding-top:0;}
#event_learners h3 {font-size:.9em; color:#888; text-transform:uppercase; }
#event_learner_list {width:100%;margin:0; padding:0;float:left;}
#event_learner_list li {float:left; list-style:none;}
#event_learner_list li a {float:left; margin-right:.6em;}
#event_learner_list li img {width:36px; height:36px; margin:0;}
.smalltext {color:#aaa; margin-top:.5em;clear:left; float:left; font-size:.9em; line-height:1.3em;}
.smalltext a {color:#aaa; margin-top:.5em;clear:left; float:left; font-size:.9em; line-height:1.3em;}
.smalltext a:hover {color:#666; margin-top:.5em;clear:left; float:left; font-size:.9em; line-height:1.3em;}

.learner_list {width:100%;margin:0 0 1em; padding:0;float:left;}
.learner_list img {height:40px; width:40px; margin:0;}
.learner_list li {float:left; list-style:none;}
.learner_list li a {float:left; margin-right:.6em;}

#session_date {float:left; display:block;padding:0 0 0 10px; width:190px; font-size:.8em;}
#session_date_time {float:left; display:block;padding:10px 0 0 10px; width:190px;}
#time {font-size:1.2em; display:block;margin-bottom:20px;}
#timezone {white-space:nowrap;}
#event_time h3 {background:#fff; float:left; padding: 10px 10px 10px 0;}
#event_time .calendarblock { width:64px; display:block; text-align:center; height:64px;padding-top:0;float:right;}
#event_time .calendarblock .month {display:block; height:20px; line-height:25px;font-size:.7em; text-transform:uppercase; font-weight:bold;}
#event_time .calendarblock .date {display:block; height:40px; line-height:43px;font-weight:bold; font-size:1.8em; }

.tags a {padding:.1em .5em; background:#fff; @include rounded10; color:#888;}
.tags a:hover {background:#ccc; @include rounded10; color:#333; text-decoration:none;}

aside {background:#ededed; padding:10px; margin:0 0 1em;}

#comment-section {
//    padding:18px;
    margin:0 0 1em;
    background:#fff;
}

.avatar {background:#aaa; margin-right:0.6em; float:left; border:1px solid #fff;}
.preview_avatar {background:#aaa; margin-right:0.6em; border:1px solid #fff; height:100px; }


#event_time h4 {float:left;}
#recording_details {clear:both;}


#range_start {float:left;}
#range_end {float:right;}

.question {padding:1em 0 1em; border-bottom:4px solid #e5e5e5; margin: 0 0 1em;}
.question h3 {line-height:1em; margin-bottom:1em; color:#555;}
.jqplot-target {float:right;}
.question_answers {float:left; width: 230px;  padding:1em; margin:0;}
.question_answers li {margin:.2em .1em; background:#fff; padding:.2em;}


#tweet_this {background:none; @include rounded10; padding: 10px; margin:auto; float:right;}

.none {color:#888;}
#eventconnections {background:none; @include rounded10; padding:.5em 2em 0; margin-bottom:0;}
#eventconnections p {font-size:1.2em; margin:0 0 .65em; color:#223c95; font-weight:bold;}
#eventconnections form {margin-top:1em;}
#eventconnections p span {position:relative;}
#eventconnections p:hover small {display:block;color:#fff; font-size:.9em; margin:.25em 0;}
#eventconnections p small {display:none; position:absolute; left:1em; top:-50%;color:#fff; background:#3e83eb; border:3px solid #fff; padding:1em; width:150px; @include boxshadow; @include rounded10; z-index:150;}
#eventconnections.placeholder {margin:2em 0;}

#notification_prefs li {color:#666; font-weight:normal; font-size:1em; list-style:none; margin:0 0 1em; padding-left:20px; line-height:1.1em;}
#notification_prefs ul {padding:1em 0 0 0; margin:0; clear:both;}
#notification_prefs li a {color:#888;}
#eventconnections label {width:100%; font-size:1.1em !important; display:block; float:left; text-align:left; margin:0; padding:0;}
#notification_prefs form {margin-bottom:0;}
.jqplot-data-label {color:#fff;}



.question_chart_placeholder {background:#eee; float:right; margin-bottom:1em; height:160px; position:relative;}
.question_chart_placeholder div {display: table; width:160px; height:160px; position:absolute;}

.question_chart_placeholder img {}

.question_chart_placeholder span {
    font-size:1.5em;
    color:#5687bb;
    text-align:center;
    line-height:1em;
    text-shadow: 2px 2px 4px #fff;
    font-weight:bold; 
    display: table-cell;
    vertical-align: middle;
    height:160px;
    width:100px;
    padding:0 30px;
    z-index:10;
}
.jqplot-yaxis-tick, .jqplot-xaxis-tick {font-size:1.4em;}

.question_scale {padding-bottom:1em;} // add extra padding to increase sitv target area so it includes slider element

#event_list .details a {color:#404040;}

#sidebar {float:right; width:25%;}
#editform {float:left;}
.cancel {margin-left:2em;}
.timezone {padding:.5em; color:#777; display:block; clear:both;} 
.timezone a {color:#777;}
.sms {background: transparent url(/assets/sms_mini.png) left top no-repeat; }
.email {background: transparent url(/assets/email_mini.png) left top no-repeat;}
#sidebar h3 {line-height:1.2em; margin-bottom:1em;}
#sidebar li {margin-bottom:1em;}

.a_mvb .controls span {padding:.2em .8em; @include rounded10; display:block;}
.a_mvb .controls label {padding:.2em .8em;}
.a_mvb .controls .color_code_0 span {background:#8bc7f6;}
.a_mvb .controls .color_code_1 span {background:#ddd; color:#666;}
.a_mvb .controls .color_code_2 span {background:#003a92; color:#fff;}
.a_mvb .controls .color_code_3 span {background:#3e83eb; color:#fff;}
.a_mvb .controls .color_code_4 span {background:#579575; color:#fff;}
.a_mvb .controls .color_code_5 span {background:#953579; color:#fff;}
.a_mvb .controls .color_code_6 span {background:#958c12;}

.a_b .controls span {padding:.2em .8em; @include rounded10; display:block;}
.a_b .controls label {padding:.2em .8em;}
.a_b .controls .color_code_0 span {background:#a2c8e6;}
.a_b .controls .color_code_1 span {background:#ddd; color:#666;}


.location {clear:both;}
.addtocalendar {clear:both;}
.addtocalendar {background: transparent url(/assets/calendar_add.png) left 50% no-repeat; padding-left:25px; clear:left;}

#no_questions_yet {clear:both; padding:4em 0; float:left; width:100%;}
#no_questions_yet p {float:left; color:#bbb; font-size:1.6em; margin-left:15px; width:70%; line-height:1.4em; }
#no_questions_yet img {float:left;}
#no_questions_yet .description {font-size:1.1em !important; line-height:1.2em !important; }


#behindthescenes h1 small {display:block;}
#behindthescenes section {margin:0 0 1em; clear:both; padding:0 1em 1em; border:2px solid #e5e5e5; background:#eee; @include rounded10}
#behindthescenes section h3 {
    font-size:1.4em;
    color:#333;
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}
#behindthescenes section h4 {
    font-size:1.3em;

    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}

#behindthescenes section p {font-size:1.1em;}

span.empty_avatar {display:block; width:50px;height:50px;background:#e5e5e5; border:1px solid #c5c5c5;}

#behindthescenes .question_answers {display:block;}
.event_question {padding:0 0 2em; border-bottom:4px solid #fff; margin-bottom:2em;}
.event_question.last {padding:0;margin-bottom:0;border:0;}
.event_question h5 {font-size:1.3em; color:#000;}
.event_question p {font-size:1.2em; margin-left:.5em;}
#behindthescenes ul.question_answers {width:60%; float:left;}
#behindthescenes ul.question_answers li { font-size:1.2em; color:#000; list-style:none; float:left; clear:left; width:100%; padding:.75em 1em; margin:0; border-bottom:2px solid #eee;}
#behindthescenes ul.question_answers span {float:left; width:80%;}
#behindthescenes ul.question_answers li strong { width:10%; display:block; float:right; text-align:right;}

.zero_activity {color:#888; font-size:1.4em !important;}
.zero_activity.margin {margin-bottom:1em;}
table td img {height:30px; width:30px; margin:0 !important; padding:0;}
table.people {text-align:left;}
table.people td {text-align:left; line-height:35px;}
.name_td {padding-left:0;}
.avatar_td {width:35px;}
.upvote {background:#666; color:#fff;}

#event_status {background:#ffe48c; padding:1em; margin:2em 2em 3em; @include boxshadow; @include rounded10; border:2px solid #666;}
#event_status h1 {font-size:1.8em; line-height:1.5em; margin:0; background: transparent url(/assets/icon_warning.png) left top no-repeat; padding-left:36px;}
#event_status h2 {font-size:1.3em; line-height:1.5em; margin:0; padding-left:36px;}

#outofdate {background:#ffe48c; padding:1em; margin:2em 2em 3em; @include boxshadow; @include rounded10; border:2px solid #666;}
#outofdate h1 {font-size:1.8em; line-height:1.5em; margin:0; background: transparent url(/assets/icon_warning.png) left top no-repeat; padding-left:36px;}
#outofdate h2 {font-size:1.3em; line-height:1.5em; margin:0; padding-left:36px;}
p.details {margin:0;}
.expired {background:#444; color:#eee; padding:.1em .5em; font-style:normal; font-size:.65em; text-transform:uppercase; letter-spacing:1px; @include rounded5}

// CSS for:
// jQuery.addtocal v0.1.1
// http://github.com/tardate/jquery.addtocalendar
//
// Copyright (c) 2010 Paul GALLAGHER http://tardate.com
// Dual licensed under the MIT or GPL Version 2 licenses:
//   http://www.opensource.org/licenses/mit-license.php
//   http://www.gnu.org/licenses/gpl.html
 
.ui-addtocal {
  cursor:pointer;cursor:hand;
}

ul.ui-addtocal {
  cursor:default;
  position:absolute;
}