// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin boxshadow {
    border:1px solid #ddd;
    -webkit-box-shadow: 2px 2px 3px #b8b8b8;
    -moz-box-shadow: 2px 2px 3px #b8b8b8;
    box-shadow: 2px 2px 3px #b8b8b8;
}

@mixin rounded10 {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#session_date {float:left; display:block;padding:0 0 0 10px; width:180px;}
#session_date_time {float:left; display:block;padding:10px 0 0 10px; width:190px;}
#time {font-size:1.4em; display:block;margin-bottom:20px;}
#timezone {white-space:nowrap;}
#event_time h2 {background:#fff; float:left; padding: 10px 10px 10px 0;}

#event_time .calendarblock {background: transparent url(/images/learn/calendar_64.png) right top  no-repeat; width:64px; display:block; text-align:center; height:64px;padding-top:0;float:right;}
#event_time .calendarblock .month {display:block; height:20px; line-height:25px;font-size:.7em; text-transform:uppercase; font-weight:bold;}
#event_time .calendarblock .date {display:block; height:40px; line-height:43px;font-weight:bold; font-size:1.8em; }


aside {background:#ededed; padding:10px; margin:0 0 1em;}

#comments {
    clear:both;
    margin:0 0 1em;
}

#commentfield_container {
    @include rounded10;
    padding: 1em;
    background: #eee;
    width:100%;
}

#comments h5 {color:#555;}
#commentfield_container .btn {float:right; margin-right:-1em;}
#commentfield {width:80%; float:left;}
#commentfield_container textarea {
    width:100%;
    margin:0 0 .5em 0;
    padding:.5em;
}

.comment_reply {
    @include rounded10;
    padding: 1em;
    background: #eee;
    width:100%;
    margin-left: 30px;
}

.comment_reply textarea {
    width:100%;
    margin:0 0 .5em 0;
    padding:.5em;
}

.comment_reply .btn {float:right; margin-right:-1em;}

.avatar {width:50px;height:50px;background:#aaa; margin-right:0.6em; float:left;}
.comment {
    padding: 1em 1em 0;
    margin-bottom:0;
    width:100%;
}
.comment .avatar {width:40px;height:40px;}
.comment p {font-size:11.5px;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;color:#444;text-align:left; margin-bottom:0; padding:0;}

.comment p a {display:none; background:#444; padding:.1em .35em; color:#fff;}
.comment:hover p a {display:inline;}
.indent1 {margin-left:1em;}

#rating_area {float:right;}
#rating_area form {float:left; margin:0; padding:0;}
#rating_area div {float:left;}
#rating_area .btn {font-size:1.3em; font-weight:bold; height:20px; line-height:10px;padding:0 0 .2em; width:20px;}
#event_votes { float:left;}
.formatted_votes {font-weight:normal; float:left; margin-left:.5em; color:#333;}

#rating_explanation {display:none; position: absolute; margin-top:2em; background:#fff; padding:.5em; @include boxshadow;}
#event_votes:hover #rating_explanation {display:block;}

#range_start {float:left;}
#range_end {float:right;}
