.clearing{clear:both;}
@mixin boxshadow {
    border:1px solid #ddd;
    -webkit-box-shadow: 2px 2px 3px #b8b8b8;
    -moz-box-shadow: 2px 2px 3px #b8b8b8;
    box-shadow: 2px 2px 3px #b8b8b8;
}

@mixin rounded10 {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}


html, body {
    background-image: -webkit-radial-gradient(circle, white, black);
    background: #666 url(/assets/hex_pattern.png) repeat;
}

#page_wrapper {
    background:#fff;
    margin: 10px auto 0;
//    width:960px;
    width: 90%; /* arbitrary */
    max-width: 1200px;
    @include rounded10;
//    border:1px solid lime;
}

#page {
    clear:both;
    margin: 0 auto;
//    width: 900px;
    width: 93.75%; /* 900 ÷ 960 */
//    border:1px solid blue;
}

#two_col_col_one {
//    width: 540px; 
    width: 60%; /* 540 ÷ 900 */
    float:left;
    clear:both;
    }
#two_col_col_two {
//    width: 340px; 
    width: 37.7777%; /* 340 ÷ 900 */
    float:right;
    }

/* home
-----------------------------------*/
#three_col_one {width:35%; float:left; padding: 1em; margin-right:1em;}
#three_col_two {width:22%; float:left; padding: 1em; margin-right:1em;}
#three_col_three {width:30%; float:left; padding: 1em;}


#useractions {float:right; border:1px solid #fff;}
#useractions li {list-style:none; padding:.75em 1em; float:left;}

.masthead {float:left;}
.masthead h1 {margin:0;}
.masthead h1 span {display:none; text-indent: -9000px;}

.masthead img {width:264px; height:100px;}

#search {float:right; clear:right;}
#search input {float:left;}
#search input#q {margin-right:.5em;}
.cursor {cursor:pointer;}
#searchform {margin:0;padding:0;}

#single_col {width:80%; margin: 0 auto 4em; clear:both;}
#signup_content {margin: 2em; padding:2em;}

.col_one_of_three {width:40%; float:left; padding: 1em; margin-right:1em;}
.col_two_of_three {width:50%; float:left; padding: 1em;}

.event_time_details {float:right;} 

p {word-wrap:break-word;}

#learner_info {float:right; }
#learner_info_text {float:left; padding-right:1em;}
#learner_info h1 {float:right; margin:0 0 0 0;} 
#learner_info p {clear:right; text-align:right;}
#learner_info .avatar {}
#avatar_wrapper {float:right; position:relative;}
#avatar_wrapper .avatar {margin:0;}
#avatar_wrapper .edit {width:auto; position:absolute; padding:.1em .6em; background:#fff; right:1px; top:1px; margin:0;}


.bio {width:50em;}
#extension_people_data {background:#f4f4f4; padding:2em; @include rounded10; @include boxshadow}
#extension_people_data p {font-size:1.3em;}
#extension_people_data #people_edit {float:right; width:40%;font-size:1.1em; background:#fff; padding:10px;}

@media screen and (max-width: 1024px) {
    #three_col_one {width:45%; float:left; padding: 1em; margin-right:1em;}
    #three_col_two {width:40%; float:left; padding: 1em; margin-right:1em;}
    #three_col_three {width:100%; padding: 1em;}
//    .description p {outline:2px solid lime}
}

@media screen and (max-width: 800px) {
    #page_wrapper {width:96%;}
    #three_col_one {width:100%; padding: 0; margin:0 0 1em;}
    #three_col_two {width:100%; padding: 0; margin:0 0 1em;}
    #three_col_three {width:100%; padding: 0; margin:0 0 1em;}
    #useractions {float:none;}
    #search {float:left; width:100%; clear:both; margin-bottom:.75em;}
    #search #q {width:50%;}
    .masthead {float:none;}
    #two_col_col_one {width:100%; padding: 0; margin:0 0 1em;}
    #two_col_col_two {width:100%; padding: 0; margin:0 0 1em;}
    #event h1 {font-size:1.5em; line-height:1.3em;}
    #single_col {width:100%;}
    #signup_content {margin: 0; padding:.5em 0;}
    .col_one_of_three {width:auto;float:none;margin:0 0 1em;}
    .col_two_of_three {width:100%; padding: 0; margin:0 0 1em;}
    .masthead img {width:auto; height:75px;}
    
    #learner_info {float:none;}
    h1 {font-size:1.5em;}
    .bio {width:100%;}
    #extension_people_data #people_edit {float:none; width:100%;}
    
}

@media screen and (max-width: 600px) {
    #page_wrapper {width:100%; margin:0 0 0}
    
//    .description p {width:300px; outline:2px solid green}
}

@media screen and (max-width: 480px) {
//    .description p {width:300px; outline:2px solid blue}
}

@media screen and (max-width: 320px) {
//    .description p {width:260px; outline:2px solid red}
}





.signup_option {margin: 0 0 1em; clear:left; float:left;}
.signup_option img {float:left;}
.signup_option p {line-height:50px; font-size:1.5em; height:50px; float:left; padding:0 1em;}
.signup_option p a {float:left;}
.signup_option .spinner {float:left; margin-left:1em;}


#two_col_col_one .padding {margin:18px;}
#two_col_col_two .padding {margin:18px;}



.texthide {text-indent: -9000px;}
.clearing {clear:both;}

input[type="password"],
input[type="text"],
input[type="search"],
input[type="email"],
select {color:#000; font-size: 1.2em;}



.half {width: 50%; float:left;}



.feed {background: transparent url(/assets/feed.png) left 50% no-repeat; padding-left:25px; clear:left;}
.join {background: transparent url(/assets/comment.png) left 50% no-repeat; padding-left:25px; clear:left;}


p.no_recording_available {background: transparent url(/assets/play_button_grey.png) left 50% no-repeat; padding-left:45px; font-size:1.4em; height:42px;}
p.no_recording_available.mini {background: transparent url(/assets/play_button_grey_mini.png) left 50% no-repeat; padding-left:25px; font-size:1.45em; line-height:1em; height:1.3em;}
p.recording_available {background: transparent url(/assets/play_button.png) left 50% no-repeat; padding-left:45px; font-size:1.6em; height:42px;}
p.recording_available.mini {background: transparent url(/assets/play_button_mini.png) left 50% no-repeat; padding-left:25px; font-size:1.45em; line-height:1em; height:1.3em;}
span.no_recording_available {background: transparent url(/assets/play_button_grey_mini.png) left 50% no-repeat; padding-left:24px; display:block;}
span.recording_available {background: transparent url(/assets/play_button_mini.png) left 50% no-repeat; padding-left:24px; display:block;}

.hide {display:none;}
//#learners/sessions .signin {display:none;}

#content_wrapper {clear:both;}


//form elements
textarea {width:80%; font-size:1.2em; line-height:1.3em; color:#000; padding:.5em;}
//input {width:90%;}
input.title {font-size:2em; height:auto; width:90%;}
#editform {background:#e5e5e5; padding:1em; @include boxshadow; width:70%;}
#editform h1 {color:#999; font-weight:normal; font-size:1.75em; padding:0 1em;}
label {font-size:1.2em; color:#015890;  margin-bottom:.25em;}
input.xs {width: 4em;}
input.xxl {width: 80%;}

#flash_notification {
    height:5em;
    width:100%;
    position:fixed;
    text-align:center;
    left:0px;
    top:0;
    z-index:100;
    opacity: 0.92;
    -moz-opacity: 0.92;
    -moz-box-shadow: #555 0px 0px 5px;
    box-shadow: #555 0px 0px 5px;
    background: #049cdb;
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    color:#fff;
    cursor:pointer;
}
#flash_notification.notice {} //default
#flash_notification.error,
#flash_notification.warning {
    color: #000;
    background: #f3e942;
    background-image: -webkit-linear-gradient(top, #f3f1c4, #f3e942);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
}
#flash_notification p {padding: 1em; font-size:1.5em;}

#error_messages {
	background: #ffebf3;
	padding:1em;
	margin: 0 2em 1em;
	background-image: -webkit-linear-gradient(top, #ffebf3, #f4c5cb);
    background-image: -o-linear-gradient(top, #ffebf3, #f4c5cb);
    background-image: linear-gradient(top, #ffebf3, #f4c5cb);
    @include rounded10;
    border:2px solid red;
}
#error_messages ul {margin-bottom:0;}
#error_messages li {font-size: 1.2em;padding:0;margin:0 0 .4em; color: #9b303a}
#error_messages h3 {color: #9b303a}

//extending bootstrap pagination to match completley unsemantic will_paginate
.pagination a,
.pagination span,
.pagination em {float:left;padding:0 14px;line-height:34px;border-right:1px solid;border-right-color:#ddd;border-right-color:rgba(0, 0, 0, 0.15);*border-right-color:#ddd;text-decoration:none; font-style:normal;}
.pagination a:hover,
.pagination .active a {background:#eee;}

.pagination .current {font-weight:bold; color:#000; background:#eee;}
.pagination .disabled {color:#999;}
.pagination .next_page {border:0;}



// Plus ratings
.rating_wrapper {float:right; background:none; position:absolute; right:10px; top:.5em;}
.rating_wrapper form {float:left; margin:0;}
.rating_wrapper input {padding:.2em .5em !important; width: auto;height: auto; margin:1px;}
.rating_wrapper:hover .rating_explanation.none_yet {display:block;position:absolute; z-index:100; font-weight:normal;}
.rating_wrapper form div {background:#fff;}
.rating_detail {float:left;}
.rating_detail .rating_explanation {display:none; position: absolute; background:#fff; color:#000;padding:1em; @include boxshadow; width: 12em; right:0; top:2em; @include rounded10; border:1px solid #4889cd !important; }
.rating_detail:hover .rating_explanation {display:block; position:absolute; z-index:100; cursor:pointer;}
.rating_count {font-weight:normal; float:left; margin-left:.5em; color:#333; cursor:pointer; font-weight:bold;}

//hide plus button until hover? 
//.rating_wrapper form {display:none;}
//.comment:hover form {display:block;}


.signintovote {position:relative;}
.signintovote .signintovote_content {
    display:none;
    z-index:1000;
    position:absolute;
    left:1em;
    color:#fff; 
    background:#3e83eb; border:4px solid #fff; padding:1em; width:150px; @include boxshadow; @include rounded10;
    }
.signintovote:hover .signintovote_content {display:block;}
.signintovote .signintovote_content p {font-size:1.5em;}
.sitv_element {}
.sitv_element_wrapper {position:relative; float:left;}

.sitv_targetarea {background:transparent; position:absolute; left:0; top:0; z-index:101; display:block; cursor:pointer; 
//    outline:1px solid blue;
    }
.sitv_content {
    color:#fff; 
    background:#3e83eb;
    border:4px solid #fff;
    border:4px solid #fff; position: absolute; width:10em; padding:1em; z-index:150; left:-1em; top:-1em;
    @include boxshadow; @include rounded10;
    }
.sitv_content .btn {width:auto !important; float:left !important;}
.sitv_content p {font-size:1.2em !important; color:#fff !important; font-weight:normal !important;}

//a {word-wrap:break-word;}
.help-block {font-size:1.2em; color:#888; padding-top:.2em;}
#signin, #create_event {padding:2em 0 1em;}

#app_location.demo {background:yellow; padding:1em 1em .5em ; text-align:center;}
#app_location.demo p {font-size:1.3em; color:#000;}
#app_location.demo p a {color:#000; text-decoration:underline;}

#adminnotice {background:#e42020; padding:1em 1em .5em ; text-align:center;}
#adminnotice p {font-size:1.3em; color:#FFF;}
#event_time_zone {width:80% !important;}