.clearing{clear:both;}
@mixin boxshadow {
    border:1px solid #ddd;
    -webkit-box-shadow: 2px 2px 3px #b8b8b8;
    -moz-box-shadow: 2px 2px 3px #b8b8b8;
    box-shadow: 2px 2px 3px #b8b8b8;
}

@mixin rounded10 {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}


html, body {
   background-image: -webkit-radial-gradient(circle, white, black);
}

#page_wrapper {
    background:#fff;
    margin: 10px auto 0;
    width:960px;
    @include rounded10;
//    border:1px solid lime;
}

#page {
    clear:both;
    margin: 0 auto;
    width: 900px;
}

#two_col_col_one {width: 540px; /* 566px / 900px */
    float:left;
    clear:both;
    }
#two_col_col_two {
    width: 340px;
    float:right;
    }

#single_col {width:80%; margin: 0 auto 4em; clear:both;}

#signup_content {margin: 2em; padding:2em;}
.signup_option {margin: 0 0 1em; clear:left; float:left;}
.signup_option img {float:left;}
.signup_option p {line-height:50px; font-size:1.5em; height:50px; float:left; padding:0 1em;}
.signup_option p a {float:left;}
.signup_option .spinner {float:left; margin-left:1em;}


#two_col_col_one .padding {margin:18px;}
#two_col_col_two .padding {margin:18px;}

header h1 {
    padding:0;
    height: 71px;
    width:280px;
    margin:.5em .5em .5em 0;
    float:left;
}

header img {float:left; padding:10px 0 0 10px;}

.texthide {text-indent: -9000px;}
.clearing {clear:both;}

input[type="password"],
input[type="text"],
input[type="search"],
input[type="email"],
select {color:#000; font-size: 1.2em;}



.half {width: 50%; float:left;}


#useractions {float:right;}
#useractions li {list-style:none; padding:1em 0 1em 1em; float:left;}

p.no_recording_available {background: transparent url(/assets/play_button_grey.png) left 50% no-repeat; padding-left:45px; font-size:1.4em; height:42px;}
p.no_recording_available.mini {background: transparent url(/assets/play_button_grey_mini.png) left 50% no-repeat; padding-left:25px; font-size:1.45em; line-height:1em; height:1.3em;}
p.recording_available {background: transparent url(/assets/play_button.png) left 50% no-repeat; padding-left:45px; font-size:1.6em; height:42px;}
p.recording_available.mini {background: transparent url(/assets/play_button_mini.png) left 50% no-repeat; padding-left:25px; font-size:1.45em; line-height:1em; height:1.3em;}
span.no_recording_available {background: transparent url(/assets/play_button_grey_mini.png) left 50% no-repeat; padding-left:24px; display:block;}
span.recording_available {background: transparent url(/assets/play_button_mini.png) left 50% no-repeat; padding-left:24px; display:block;}

.hide {display:none;}
//#learners/sessions .signin {display:none;}

#content_wrapper {clear:both;}


//form elements
textarea {width:80%; font-size:1.2em; line-height:1.3em; color:#000; padding:.5em;}
//input {width:90%;}
input.title {font-size:2em; height:auto; width:90%;}
#editform {background:#e5e5e5; padding:1em; @include boxshadow; width:70%;}
#editform h1 {color:#999; font-weight:normal; font-size:1.75em; padding:0 1em;}
label {font-size:1.2em; color:#015890;  margin-bottom:.25em;}
input.xs {width: 4em;}
input.xxl {width: 80%;}

#flash_notification {
    height:5em;
    width:100%;
    position:fixed;
    text-align:center;
    left:0px;
    top:0;
    z-index:100;
    opacity: 0.92;
    -moz-opacity: 0.92;
    -moz-box-shadow: #555 0px 0px 5px;
    box-shadow: #555 0px 0px 5px;
    background: #049cdb;
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    color:#fff;
}
#flash_notification.notice {} //default
#flash_notification.error,
#flash_notification.warning {
    color: #000;
    background: #f3e942;
    background-image: -webkit-linear-gradient(top, #f3f1c4, #f3e942);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
}
#flash_notification p {padding: 1em; font-size:1.5em;}

#error_messages {
	background: #ffebf3;
	padding:1em;
	margin: 0 2em 1em;
	background-image: -webkit-linear-gradient(top, #ffebf3, #f4c5cb);
    background-image: -o-linear-gradient(top, #ffebf3, #f4c5cb);
    background-image: linear-gradient(top, #ffebf3, #f4c5cb);
    @include rounded10;
    border:2px solid red;
}
#error_messages ul {margin-bottom:0;}
#error_messages li {font-size: 1.2em;padding:0;margin:0 0 .4em; color: #9b303a}
#error_messages h3 {color: #9b303a}
#search {float:right;}
#search input {float:left;}
#search input#q {margin-right:.5em;}
.cursor {cursor:pointer;}
#searchform {margin:0;padding:0;}

//extending bootstrap pagination to match completley unsemantic will_paginate
.pagination a,
.pagination span,
.pagination em {float:left;padding:0 14px;line-height:34px;border-right:1px solid;border-right-color:#ddd;border-right-color:rgba(0, 0, 0, 0.15);*border-right-color:#ddd;text-decoration:none; font-style:normal;}
.pagination a:hover,
.pagination .active a {background:#eee;}

.pagination .current {font-weight:bold; color:#000; background:#eee;}
.pagination .disabled {color:#999;}
.pagination .next_page {border:0;}

