// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables";

.home h1 {font-family: 'Droid Sans', Arial, Helvetica, sans-serif;}



#upcoming_events section.event {@include rounded10; @include boxshadow; margin-bottom:1em; padding:1em; background:#f5f5f5;}
#upcoming_events section.event h3 {line-height:1em;}

#recent_events {}

#home h2 {font-size:1.3em;}
#home h3 {line-height:1.3em;}

#upcoming_events .calendarblock {float:right;}
.marketing_blurb h1 {line-height:1.2em; font-size:1.8em;}