// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin boxshadow {
    border:1px solid #ddd;
    -webkit-box-shadow: 2px 2px 3px #b8b8b8;
    -moz-box-shadow: 2px 2px 3px #b8b8b8;
    box-shadow: 2px 2px 3px #b8b8b8;
}

@mixin rounded10 {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.home h1 {font-family: 'Droid Sans', Arial, Helvetica, sans-serif;}