// Place all the styles related to the settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

#settings_nav li {float:left; list-style:none; padding:1em; font-size:1.1em;}





form {margin-top:3em;}