// Place all the styles related to the webmail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#missing_recommendation h1 {font-size:1.8em;}
#missing_recommendation h2 {font-size:1.5em;}
#missing_recommendation p {font-size:1.3em; }
#missing_image {width:100%; height:300px; background: transparent url(/assets/empty_box.png) 0 0 no-repeat;margin: 0 auto 3em;}